*{
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}
.conteiner{
    display:flex;
    
}
.background{
    background:url("https://images.unsplash.com/photo-1585670089589-2f6cd2719a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat center fixed;
    background-size:cover;
}
body{
    
}
header{
    position:absolute;
    padding:20px 0;
    background:rgba(69,90,100 ,0.5);
    text-align:center;
    color:#fff;
}
aside{
    position:relative;
    width:35%;
    padding:0 20px;
    z-index: 1;
}
aside section{
    position:relative;
    padding:20px;
    border-radius:4px;
    background:rgba(247, 247, 247 ,0.6);
    position:fixed;
   
}
aside h3{
    position:relative;
    text-align:center;
    padding:30px;
    margin:auto;
    text-transform:uppercase;
    
}
aside h3:before{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:40px;
    height:2px;
    background:#455A64;
}
aside ul{
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    
}
aside ul li{
    padding:10px 20px;
   
}
li{
    display:inline;
}
li a{
     text-decoration:none;
     display:block;
     color:#000;
     padding:8px 16px;
     border-bottom:1px solid rgba(0,0,0,0.1);
}
li:last-child a{
    border-bottom: none;
}
li a:hover{
    background-color:#555;
    color:white;
}
.icon{
    margin:10px;
}
main{
    position:relative;
    width:50%;
    min-height:100vh;
    align-items:flex-end;
}
main section{
    position:relative;
    padding:20px;
    border-radius:4px;
    background:rgba(247, 247, 247 ,0.6);
}
main h2{
    font-size:46px;
    text-align:center;
    padding:40px 0;
    margin:auto;
}
main p{
    max-width:600px;
    display:table;
    margin:auto;
    padding-bottom:20px;
    width:100%;
}
footer{
    position: relative;
    margin-top:25px;
    padding:20px 0;
    background:rgba(0, 0, 0, 0.5);
    text-align:center;
    color:#fff;
    border-radius: 4px;
    z-index: 0;
}

/*progebar*/
.wrapper {
    width: 200px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 15px;
    background-color: #202120;
    border-radius: 3px;
    
    transition: width 500ms ease-in-out;
}
/*kontakt*/

.kontakt{
    position: relative;
    align-items: center;
    display: block;
}

/*Karj채채ri planeerimine ja ettev천tlus*/

main li{
    display:list-item;
}

.list{
    list-style-type: disc;
}
@media (min-width: 480px){

    }
@media (min-width: 992px){

    }